body {
    margin: 0;
    padding-bottom: 0;
    min-height: 100vh;
    background-color: #1c1d1c;
    font-family: 'Open Sans', Verdana, Geneva, Tahoma, sans-serif;
}

.navContainer, .title, .items {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer {
    position: absolute;
    left: 20px;
    top: 20px;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #252425;
    padding: 10px;
    transition: 0.5s;
    border-radius: 50px;
    overflow: hidden;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

nav input {
    height: 45px;
    width: 45px;
    opacity: 0;    
}

nav span {
    position: absolute;
    left: 20px;
    width: 30px;
    height: 4px;
    border-radius: 5px;
    background-color: aliceblue;
    pointer-events: none;
    transition: 0.5s;
}

.items {
    margin: 0;
    padding: 0;
    width: 0;
    overflow: hidden; /* if content children overflow the div box then hide them*/
    transition: 0.5s;
}

/* input:checked selects checked inputs within nav,
   after that ~ selector selects all elements with
   class .items preceded by an input having the same parent.
*/
nav input:checked ~ .items {
    width: 200px;
}

.items li {
    list-style: none;
    /* top and bottom | left and right */
    margin: 0 20px;
}

.items li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    font-weight: 500;
    transition: 0.5s;
}

.items li a:hover {
    color: #2f81f7;
}

nav input:checked ~ span {
    background-color: #2f81f7;
}

/* selects a span element that is the 2nd child of it's parent (nav in this case) */
/* so essentially select the very first span element under nav since it's the second child */
nav span:nth-child(2) {
    transform: translateY(-8px);
}

/* If input under nav is checked then rotate this span element*/
nav input:checked ~ span:nth-child(2) {
    transform: translateY(0) rotate(-45deg);
}

/* selects a span element that is the 3rd child of it's parent (nav in this case) */
/* so essentially select the second span element under nav since it's the second child */
nav span:nth-child(3) {
    transform: translateY(8px);
}

nav input:checked ~ span:nth-child(3) {
    transform: translateY(0) rotate(45deg);
}

.title {
    width: 95%;
    padding: 20px;
}

.title img {
    width: 70px;
    border-radius: 50px;
    margin-right: 10px;
}

.title p {
    color: aliceblue;
    font-size: 30px;
}

.wrapper {
    display: flex;
    flex-flow: row wrap;
}

.formContainer {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    border-right: 2px solid #1c1d1c;
    margin-bottom: 2%;
}

.inventory {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #252425;
    height: 60vh;
    width: 23vw;
    margin: 0;
    padding: 0;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

#formTitle {
    color: aliceblue;
    font-weight: 500;
    font-size: 30px;
    margin-bottom: 0px;
}

#formDesc {
    color: rgb(185, 187, 188);
    margin-top: 4px;
    font-size: 15px;
}

input {
    width: 90%;
    padding: 10px;
    border-radius: 5px;
    border: 0px;
    background-color: #313335;
    height: 5%;
    color: rgb(185, 187, 188);
    outline: none;
    font-size: 15px;
    margin-bottom: 5%;
}

input:focus {
    border: 2px solid #2f81f7;
    outline: none;
}

.formButtonContainer {
    display: flex;
    width: 96%;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4%;
}

.formButtons {
    color: aliceblue;
    font-size: 15px;
    background-color: #2f81f7;
    width: 48%;
    height: 38px;
    border-radius: 5px;
    outline: none;
    border: none;
    transition: 0.2s;
}

.formButtons:active {
    opacity: 70%;
}

.itemCard {
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    max-height: 13em;
    width: 45em;
    /* offset-x | offset-y | blur-radius | color */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    background-color: #252425;
    border-radius: 15px;
    margin-bottom: 2.5%;
}

.itemCard img {
    height: 100%;
    max-width: 25%;
    border-bottom-left-radius: 15px;
    border-top-left-radius: 15px;
}

.infoContainer {
    flex-direction: column;
    margin-left: 2.5%;
    width: 100%;
    margin-bottom: 2%;
}

.nameAndPrice {
    display: flex;
    flex-direction: row; 
    width: 100%;
}

.topInfo {
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    margin-right: 5%;
}

.topInfo p:nth-child(1) {
    font-size: 19px;
    font-weight: 500;
    color: aliceblue;
    margin: 0;
}

.topInfo p:nth-child(2) {
    font-size: 15px;
    color: rgb(185, 187, 188);
    margin: 0;
}